@tailwind components;

@tailwind utilities;

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 25px;

}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #26A0FC;
  border-radius: 20px;
  cursor: pointer;
}

.range-labels {
  padding: 0;
  margin-top: 8px;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  li {
    position: relative;
    float: left;
    text-align: center;
    color: #b2b2b2;
    font-size: 14px;
    cursor: pointer;
    transform: rotate(-45deg);
    flex-grow: 1;
  }
}

body {
    margin: 0;
}
